datasets
transformers[torch]
sentence-transformers
wandb
docx2txt
llama-index
langchain
matplotlib
huggingface_hub
faiss-cpu
trl
peft
#pip install -r requirements.txt --quiet
#numpy==1.23.5
#pandas>=1.5.0
#tqdm
#scikit-learn